.geral{
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    align-items: center;
    justify-content: center;
}

.desc{
    display: flex;
    width: 50%;
    height: 50%;
    background-color: rgb(250, 187, 187);
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    border: 4px solid crimson;
}

.text{
    margin: 20px;
}

a{
    text-decoration: none;
    color: crimson;
    font-weight: bold;
}

p{
    margin-bottom: 50px;
}


@media screen and (max-width: 768px) {
    .desc{
        overflow-y: auto;
        width: 90%;
        height: 50%;
    }
}