.geral{
    position: fixed;
    top: 50px;
    left: 0 ;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.projetos{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-section{
    width: 250px;
    height: 200px;
    
}

.image-button{
    width: 50px;
    height: 50px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p {
    font-weight: bold;
    font-size: 20px;
    color: crimson;
}

button{
    margin-top: -50px;
    border: none;
    color: black;
    background-color: transparent;
}

button:hover{
    background-color: rgb(218, 218, 255);
}

a{
    text-decoration: none;
    color: crimson;
}

.desc-projeto{
    width: 70%;
    height: auto;
    margin-bottom: 100px;
}