<div class="geral">
    <h1 style="color: crimson;">Algumas de minhas habilidades</h1>
    <div class="skills">
        <section class="imagem-section">
            <img src="./assets/spring-boot.png" alt="Imagem 1">
          </section>
          <section class="imagem-section">
            <img src="./assets/angular.svg" alt="Imagem 2">
          </section>
          <section class="imagem-section">
            <img src="./assets/mysql.png" alt="Imagem 3">
          </section>
          <section class="imagem-section">
            <img src="./assets/java.png" alt="Imagem 4">
          </section>
          <section class="imagem-section">
            <img src="./assets/typescript.png" alt="Imagem 3">
          </section>
          <section class="imagem-section">
            <img src="./assets/cplusplus.png" alt="Imagem 4">
          </section>
    </div>
  </div>