<div class="geral">
    <div class="top">
        <div class="right-content">
            <img src="./assets/avatar.svg">
        </div>
    </div>
    <div class="bot">
        <div class="content">
            <h3>Olá, eu sou o</h3>
            <h1>Gustavo Neves.</h1>
            <h3>Desenvolvedor Fullstack</h3>
            <button>Linkedin</button>

            <div class="icons">
                <a href="https://www.instagram.com/gustav0.neves/" target="_blank"><img src="./assets/instagram.png"></a>
                <a href="https://github.com/Nagathi" target="_blank"><img src="./assets/github.png"></a>
                <a href="https://twitter.com/GusHakaiX" target="_blank"><img src="./assets/twitter.png"></a>
            </div>
        </div>
    </div>
</div>